@{
    ViewBag.Title = "流浪瓶";
}

<div id="detail_bottle" data-receiveid="" style="overflow:auto;height: 90%;"></div>
<div style="height:10%;margin-top:-1%">
    <input type="text" id="replyContent" style="width:73%;float:left;height:40px;border-radius:10px;" />
    <input type="button" class="btn btn-primary" style="width:12%;padding-left:2%;height:40px;" id="btnReply" value="发送" />
    <input type="button" class="btn btn-primary" style="width:12%;padding-left:2%;height:40px;" id="btnimgreply" value="图片" />
    <input type="file" id="chatimgImgfile" accept="image/*" style="display:none" onchange="uploadfile()" />
</div>

<input type="hidden" id="detail_bottleId" value="0" />
<input type="hidden" id="receiverid" value="0" />

<script type="text/javascript">
    $("#detail_bottleId").val(@ViewBag.bottleId);
    $("#btnReply").attr("disabled", false);
    $("#replyContent").attr("disabled", false);

    $("#btnReply").click(function () {
        sendmessage();
    });

    $("#btnimgreply").click(function () {
        $("#chatimgImgfile").click();
    });

    var uploadfile = function () {
        var file = $("#chatimgImgfile")[0].files[0]; // js 获取文件对象
        var reader = new FileReader();
        if (file) {
            //将文件以Data URL形式读入页面
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = function (f) {

                var chatData = {};
                chatData.ChatText = this.result;
                chatData.BottleID = $("#detail_bottleId").val();
                chatData.ReceiverID = $("#receiverid").val();
                chatData.SenderID = userid;
                chatData.ChatType = 1;
                $.post(serviceurl + "/api/ChatRecord/Add", chatData, function (data) {
                    if (data != undefined && data.ErrorCode == 0 && data.Result != undefined) {
                        var chatJson = {};
                        chatJson.BottleID = $("#detail_bottleId").val();
                        chatJson.ReceiveID = $("#receiverid").val();
                        chatJson.SenderID = userid;
                        chatJson.ClientMsg = data.Result.ChatText; ;
                        chatJson.ChatType = 1;

                        //var content = encypt + $("#detail_bottleId").val() + encypt + $("#receiverid").val() + encypt + chatimgurl + encypt + "1";
                        var content = JSON.stringify(chatJson);
                        send(content);
                    }
                });
                //清空file控件的值，可以选择相同文件
                $("#chatimgImgfile")[0].value = '';
            };
        }
    }

    var bindClickEvent = function () {
        $(".iconimg").click(function () {
            var frienduserid = this.dataset.userid;
            if (frienduserid == undefined || frienduserid == userid) {
                loadPage(pageName.ProfileInfo);
            } else {
                loadPage(pageName.ProfileInfoView, "?userid=" + frienduserid);
            }
        });
    };

    $.ajax({
        url: serviceurl + "/api/ChatRecord/QueryChatByBottleId",
        type: "get",
        data: { bottleid: @ViewBag.bottleId, userid: userid },
        success: function (result) {
            if (result.ErrorCode == 0 && result.Result != undefined && result.Result.length > 0) {
                var chatRecord = result.Result;
                //接收人id赋值
                $("#receiverid").val(chatRecord[0].ReceiverID);
                if (userid != chatRecord[0].SenderID) {
                    //别人扔的瓶子
                    $("#receiverid").val(chatRecord[0].SenderID);
                }
                //对方信息
                $.ajax({
                    url: serviceurl + "/api/User/QueryById",
                    data: { id: $("#receiverid").val() },
                    async: false,
                    success: function (result) {
                        if (result != undefined && result.ErrorCode == 0 && result.Result != undefined) {
                            friendinfo = result.Result;
                        }
                    }, error: function (result) {

                    }
                });

                //显示对方名字性别年龄等
                var age = parseInt((new Date() - new Date(friendinfo.Birthday)) / (1000 * 60 * 60 * 24 * 365));
                var topleftmsg = friendinfo.UserName + "-" + (friendinfo.Gender == 1 ? "男" : "女") + "-" + age + "岁";
                $("#msgtext")[0].textContent = topleftmsg;

                var html = "<ul>";
                $.each(chatRecord, function (index, item) {
                    if (item.SenderID != userid) {
                        //对方
                        var maleclass = friendinfo.Gender == 1 ? "male" : "female";
                        if (item.ChatType == 1) {
                            html += '<li class="textLeft chatrecordstyle "><img src="' + friendinfo.HeaderImgUrl + '" data-userid="' + item.SenderID +'" class = "iconimg"/><img src="' + item.ChatText + '" class="imgcontent"/></li>';
                        } else {
                            html += '<li class="textLeft chatrecordstyle "><img src="' + friendinfo.HeaderImgUrl + '" data-userid="' + item.SenderID +'" class = "iconimg"/><span class="spantext ' + maleclass+'">' + item.ChatText + '</span></li>';
                        }

                    }
                    else {
                        //自己
                        if (item.ChatType == 1) {
                            html += '<li class="textRight chatrecordstyle "><img src="' + item.ChatText + '" class="imgcontent"/><img src="' + userinfo.HeaderImgUrl + '" class = "iconimg"/></li>';
                        } else {
                            html += '<li class="textRight chatrecordstyle "><span class="spantext" style="background-color: lightgreen;" >' + item.ChatText + '</span><img src="' + userinfo.HeaderImgUrl + '" class = "iconimg"/></li>';
                        }
                    }
                });
                html += "</ul>";
                $("#detail_bottle").append(html);
                $("#detail_bottle")[0].scrollTop = $("#detail_bottle")[0].scrollHeight;

                bindClickEvent();

                //打开瓶子界面时 更新聊天记录状态为已读
                var data = {};
                data.BottleID = @ViewBag.bottleId;
                data.ReceiverID = userid;
                $.post(serviceurl + "/api/ChatRecord/UpdateChatStatus", data, function (result) {
                    //更新完状态以后再看是不是还有未读数据
                    if (result.ErrorCode == 0) {
                        if (result.Result.length > 0) {
                            $(".redpoint").show();
                        } else {
                            $(".redpoint").hide();
                        }
                    }
                });

                var receiverid = $("#receiverid").val();
                if (receiverid == undefined || receiverid == "" || receiverid == 0) {
                    $("#btnReply").attr("disabled", true);
                    $("#replyContent").attr("disabled", true);
                    showDialog("瓶子还没被别人捡起来哦");
                }
            } else {
                $("#detail_bottle").append("这是个空瓶子。。。");
                $("#btnReply").attr("disabled", true);
                $("#replyContent").attr("disabled", true);
            }
        },
        error: function (result) {
            $("#detail_bottle").append("系统异常啦");
            $("#btnReply").attr("disabled", true);
            $("#replyContent").attr("disabled", true);
        }
    });

    var sendmessage = function () {
        //发送消息
        var content = $("#replyContent").val();
        if (content != undefined && content != "") {
            var chatJson = {};
            chatJson.BottleID = $("#detail_bottleId").val();
            chatJson.ReceiveID = $("#receiverid").val();
            chatJson.SenderID = userid;
            chatJson.ClientMsg = content;
            chatJson.ChatType = 0;
            content = JSON.stringify(chatJson);
            //content = encypt + $("#detail_bottleId").val() + encypt + $("#receiverid").val() + encypt + content;
            send(content);
            $("#replyContent").val('');
        } else {
            showDialog("发送内容为空！");
        }
    }

    document.onkeydown = function (e) {
        if (e.keyCode == 13) {
            sendmessage();
        }
    }

</script>
