@{
    ViewBag.Title = "流浪瓶";
}

<div id="bottle" data-receiveid=""></div>
<input type="hidden" id="bottleId" value="0" />
<input type="hidden" id="senderid" value="0" />
<input type="hidden" id="receiverid" value="0"  />

<input type="text" id="replyContent" />
<input type="button" id="btnReply" value="发送" />

<script type="text/javascript">
    $("#bottleId").val(@ViewBag.bottleId);
  
    $.ajax({
        url: serviceurl + "/api/Bottle/QueryById",
        type: "get",
        data: { id: @ViewBag.bottleId },
        success: function (result) {
            if (result.ErrorCode == 0 && result.Result != undefined) {
                var bottleData = result.Result;
                debugger;
                $("#senderid").val(bottleData.ThrowUserID);
                $("#receiverid").val(bottleData.ReceiveUserID);
                
                var html = "<br />";
                html += '<textarea style="width:100%;text-align:left" readonly="readonly">' + bottleData.BottleDesc + '</textarea>';
                html += "<br />";
                $("#bottle").append(html);
            } else {
                $("#bottle").append("这是个空瓶子。。。");
            }
        },
        error: function (result) {
            $("#bottle").append("系统异常啦");
        }
    });

    $("#btnReply").click(function(){
        //发送消息
        var content = $("#replyContent").val();
        if (content != undefined && content != "") {
            content = "#$%345" + $("#bottleId").val() + "#$%345" + $("#senderid").val() + "#$%345" + $("#receiverid").val() + "#$%345" +content;
        }
        send(content);
        $("#replyContent").val('');
    });

</script>
