@{
    ViewBag.Title = "流浪瓶";
}

<div id="bottle" data-receiveid=""></div>
<input type="hidden" id="bottleId" value="0" />
<input type="hidden" id="receiverid" value="0" />

<input type="text" id="replyContent" />
<input type="button" id="btnReply" value="发送" />

<script type="text/javascript">
    $("#bottleId").val(@ViewBag.bottleId);

    $.ajax({
        url: serviceurl + "/api/Bottle/QueryById",
        type: "get",
        data: { id: @ViewBag.bottleId },
        success: function (result) {
            if (result.ErrorCode == 0 && result.Result != undefined) {
                var bottleData = result.Result;
                var receiverid = bottleData.ReceiveUserID;
                if (userid != bottleData.ThrowUserID) {
                    receiverid = bottleData.ThrowUserID;
                }
                $("#receiverid").val(receiverid);

                var html = "<br />";
                html += '<textarea style="width:100%;text-align:left" readonly="readonly">' + bottleData.BottleDesc + '</textarea>';
                html += "<br />";
                $("#bottle").append(html);
            } else {
                $("#bottle").append("这是个空瓶子。。。");
            }
        },
        error: function (result) {
            $("#bottle").append("系统异常啦");
        }
    });

    var requestData = {};
    requestData.UserID = userid;
    requestData.BussiessValue = @ViewBag.bottleId;

    $.post(serviceurl + "/api/RequestLog/Add", requestData);

    $("#btnReply").click(function(){
        //发送消息
        var content = $("#replyContent").val();
        if (content != undefined && content != "") {
            content = encypt + $("#bottleId").val() + encypt + $("#receiverid").val() + encypt + content;
        }
        debugger;
        send(content);
        $("#replyContent").val('');
    });

</script>
