@{
    Layout = "~/Views/Shared/Layout_Front.cshtml";
    ViewBag.Title = "流浪瓶";
}
<style>
    .mainDiv {
        margin: 0;
        padding: 0;
        font-size: 20px;
        text-align: center;
        /*color: #fff;*/
    }

    .foot {
        width: 100%;
        height: 10%;
        position: absolute;
        background-color: khaki;
        bottom: 0;
    }

    .nav {
        background-color: black;
        top: 0px;
        width: 100%;
        position: absolute;
        height: 90%;
    }
</style>

<div class="mainDiv">
    <div id="rootdiv">

    </div>
    <div class="foot">
        <div class="row" style="padding-top:2%">
            <div class="col-xs-3">
                <a id="profilesetting">设置</a>
            </div>
            <div class="col-xs-3">
                <a id="throwbottle"> 扔瓶子</a>
            </div>
            <div class="col-xs-3">
                <a id="pickbottle"> 捡瓶子</a>
            </div>
            <div class="col-xs-3">
                <a id="mybottle"> 我的</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        debugger;
            init();
        });

    debugger;
        var loadPage = function (pageName, param) {
            var pagePath = pageName;
            if (param != undefined && param != "") {
                pagePath += param;
            }
            $("#rootdiv").load(pagePath);
        }

        var loadPageByIndex = function (pageIndex) {
            switch (pageIndex) {
                case 1:
                    loadPage(pageName.ProfileSetting);
                    break;
                case 2:
                    loadPage(pageName.ThrowBottle);
                    break;
                case 3:
                    loadPage(pageName.PickBottle);
                    break;
                case 4:
                    loadPage(pageName.MyBottle);
                    break;
                case 5:
                    loadPage(pageName.BottleDetail);
                    break;
                case 0:
                default:
                    loadPage(pageName.Index);
                    break;
            }
        }

        var getLocation = function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else {
                //x.innerHTML = "Geolocation is not supported by this browser.";
                //不支持定位
            }
        }

        var showPosition = function (position) {
            latitude = position.coords.latitude;
            longitude = position.coords.latitude;

            //每次更新地址都同步到数据库
            var data = {
                userid: userid,
                longitude: longitude,
                latitude: latitude,
            };
            $.post(serviceurl + "/api/position/add", data);
        }

        var init = function () {
            getLocation();
            if (@ViewBag.sourceFlag!= -1) {
                loadPageByIndex(@ViewBag.sourceFlag);//防止跳到主页 死循环
            }
            if (!checkUserValid()) {
                window.location.href = "/welcome/index";
            }
        }

        $("#profilesetting").click(function () {
            loadPage(pageName.ProfileSetting);
        });

        $("#throwbottle").click(function () {
            loadPage(pageName.ThrowBottle);
        });

        $("#pickbottle").click(function () {
            loadPage(pageName.PickBottle);
        });

        $("#mybottle").click(function () {
            loadPage(pageName.MyBottle);
        });



        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    //});
</script>