@{
    ViewBag.Title = "流浪瓶";
}
<br />
<div id="rootdiv"></div>
<br />
<br />
<a id="profilesetting">设置</a>
<a id="throwbottle"> 扔瓶子</a>
<a id="pickbottle"> 捡瓶子</a>
<a id="mybottle"> 我的瓶子</a>