@{
    Layout = "~/Views/Shared/Layout_Front.cshtml";
    ViewBag.Title = "流浪瓶";
}
<style>
    .mainDiv {
        margin: 0;
        padding: 0;
        font-size: 20px;
        text-align: center;
    }

    .head {
        background-color: khaki;
        position: absolute;
        width: 100%;
        height: 6%;
    }

    #rootdiv {
        top: 6%;
        width: 100%;
        position: absolute;
        height: 85%;
        background-image: url(../../Content/img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .foot {
        width: 100%;
        height: 9%;
        position: absolute;
        background-color: khaki;
        bottom: 0;
    }

    .icon {
        width: 32px;
    }

    .chatrecordstyle {
        padding-top: 4px;
        margin-top: 3px;
        border-radius: 4%;
    }

    .leftstyle {
        float: left;
        text-align: left;
        padding-right: 10px;
    }

    .rightstyle {
        float: right;
        text-align: right;
        padding-left: 10px;
        background-color: #80e46c;
    }

    .female {
        background-color: pink;
    }

    .male {
        background-color: #8888ff;
    }

    .iconimg {
        width: 33px;
        height: 33px;
        margin-top: -9px;
    }


    .bottleline {
        border-bottom: 1px solid #ccc;
        /*padding-top: 5px;*/
        margin-bottom: 10px;
    }

    .fulldiv {
        width: 100%;
        height: 100%;
    }

    .sendtextdiv {
        height: 80%;
    }

    .sendtextarea {
        width: 100%;
        height: 100%
    }

    .redpoint {
        border-radius: 50px;
        width: 10px;
        height: 10px;
        background-color: red;
        margin-top: -30px;
        margin-left: 65%;
    }

    .labelleft {
        float: left;
        font-weight: 400;
    }

    .profilevaluestyle {
        width: 65%;
        margin-left: 20%;
    }

    .userimg {
        height: 50px;
        width: 50px;
    }

    .openBottle {
        float: left;
        padding-left: 5px;
        width: 70%;
        text-align: left;
    }

    .textdesc {
        padding-top: 15px;
        display: block;
        color: dimgray;
    }

    .detailright {
        float: right;
        padding-right: 5px;
        width: 15%;
        text-align: right;
    }

    .userInfo {
        font-weight: bolder;
        font-size: initial;
    }

    .mybottlediv {
        background-color: lightcoral;
    }

    #my_bottleList {
        font-size: 13px;
        height: 100%;
        overflow-y: auto;
    }

</style>

<div class="mainDiv">

    <div class="head">
        <span>流浪瓶 V1.0</span>
        <img class="icon" style="float:right" id="profileInfo" src="~/Content/img/icon_profiles.png" />
        <img class="icon" style="float:right" id="setting" src="~/Content/img/icon_setting.png" />
    </div>
    <div id="rootdiv">
    </div>
    <div class="foot">
        <div style="padding-top:2%">
            <div class="col-xs-4">
                <img class="icon" id="throwbottle" src="~/Content/img/icon_throwbottle.png" />
            </div>
            <div class="col-xs-4">
                <img class="icon" id="pickbottle" src="~/Content/img/icon_pickbottle.png" />
            </div>
            <div class="col-xs-4">
                <img class="icon" id="mybottle" src="~/Content/img/icon_mybottles.png" />
                <div class="redpoint" style="display:none;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        init();
    });

    var loadPage = function (pageName, param) {
        currentPage = pageName;
        var pagePath = pageName;
        if (param != undefined && param != "") {
            pagePath += param;
        }
        $("#rootdiv").load(pagePath);
    }

    var loadPageByIndex = function (pageIndex) {
        switch (pageIndex) {
            case 1:
                loadPage(pageName.ProfileInfo);
                break;
            case 2:
                loadPage(pageName.ThrowBottle);
                break;
            case 3:
                loadPage(pageName.PickBottle);
                break;
            case 4:
                loadPage(pageName.MyBottle);
                break;
            case 5:
                loadPage(pageName.BottleDetail);
                break;
            case 6:
                loadPage(pageName.Setting);
                break;
            case 7:
                loadPage(pageName.ProfileInfoView);
                break;
            case 0:
            default:
                loadPage(pageName.Index);
                break;
        }
    }

    var getLocation = function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
        else {
            //x.innerHTML = "Geolocation is not supported by this browser.";
            //不支持定位
        }
    }

    var showPosition = function (position) {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;

        // 百度地图API功能
        var point = new BMap.Point(longitude, latitude);
        var geoc = new BMap.Geocoder();
        geoc.getLocation(point, function (rs) {
            var data = {};
            data.userid = userid;
            data.longitude = longitude;
            data.latitude = latitude;

            var addComp = rs.addressComponents;
            data.province = province = addComp.province;
            data.city = city = addComp.city;
            data.district = district = addComp.district;
            data.street = street = addComp.street;
            data.streetNumber = streetNumber = addComp.streetNumber;
            data.addressdetail = addressdetail = rs.business;

            $.post(serviceurl + "/api/position/add", data);
        });
    }

    //连接websocket
    var connectWebsocket = function () {
        ws = new WebSocket(websocketaddress);
        ws.onopen = function (e) {
            //alert("连接上了websocket服务器");
            //var msg = document.createElement('div');
            //msg.style.color = '#0f0';
            //msg.innerHTML = "Server > connection open.";
            //msgContainer.appendChild(msg);
            ws.send(userid);
        };
        ws.onmessage = function (e) {
            //服务器回发消息，客户端即时处理
            var currentbottleid = $("#detail_bottleId").val();
            var backbottleid = 0;
            var backsenderid = 0;
            var backmsg = e.data;
            var msgArr = backmsg.split(encypt);
            if (msgArr.length > 2) {
                backbottleid = msgArr[0];
                backsenderid = msgArr[1];
                backmsg = msgArr[2];
             
                //相同瓶子
                if (backbottleid == currentbottleid) {
                    var html = "";
                    if (backsenderid != userid) {
                        //对方发的消息，更新为已读状态
                        var data = {};
                        data.BottleID = backbottleid;
                        data.ReceiverID = userid;
                        $.post(serviceurl + "/api/ChatRecord/UpdateChatStatus", data);

                        //有别人发消息过来，按钮和输入框都应该可以使用
                        $("#btnReply").attr("disabled", false);
                        $("#replyContent").attr("disabled", false);

                        //对方
                        var maleclass = friendinfo.Gender == 1 ? "male" : "female";
                        html += '<div class = "chatrecordstyle leftstyle ' + maleclass + '"> <img src="' + friendinfo.HeaderImgUrl + '" class = "iconimg"/> <span style="height:35px;padding-left:5px;">' + backmsg + '</span></div>';
                    } else {
                        //自己发的消息
                        html += '<div class = "chatrecordstyle rightstyle "><span style="height:35px;padding-right:5px;">' + backmsg + '</span><img src="' + userinfo.HeaderImgUrl + '" class = "iconimg"/></div>';
                    }
                    html += '<div class="bottleline"></div>';
                    html += "<br />";
                    $("#detail_bottle").append(html);
                    $("#detail_bottle")[0].scrollTop = $("#detail_bottle")[0].scrollHeight;
                } else {
                    //非当前聊天页面的消息 都显示红点
                    $(".redpoint").show();
                    if (currentPage == pageName.MyBottle) {
                        //如果是瓶子列表页面，需要刷一下列表数据，把未读消息标红显示出来
                        loadPage(pageName.MyBottle);
                    }
                }
            }
        };
        ws.onerror = function (e) {
            //服务器出错，客户端即时处理

            //var msg = document.createElement('div');
            //msg.style.color = '#0f0';
            //msg.innerHTML = 'Server > ' + e.data;
            //msgContainer.appendChild(msg);
        };
        ws.onclose = function (e) {
            //服务器关闭连接，客户端即时处理
            //var msg = document.createElement('div');
            //msg.style.color = '#0f0';
            //msg.innerHTML = "Server > connection closed by server.";
            //msgContainer.appendChild(msg);
        };
        //text.focus();
    }

    //退出
    var quit = function () {
        //客户端 退出
        if (ws) {
            ws.close();
            //var msg = document.createElement('div');
            //msg.style.color = '#0f0';
            //msg.innerHTML = 'Server > connection closed.';
            //msgContainer.appendChild(msg);
            ws = null;
        }
    }

    var send = function (content) {
        //客户端发送消息
        if (content == undefined || content == "") {
            return;
        }
        ws.send(content);
    }

    $("#profileInfo").click(function () {
        loadPage(pageName.ProfileInfo);
    });

    $("#setting").click(function () {
        loadPage(pageName.Setting);
    });

    $("#throwbottle").click(function () {
        loadPage(pageName.ThrowBottle);
    });

    $("#pickbottle").click(function () {
        loadPage(pageName.PickBottle);
    });

    $("#mybottle").click(function () {
        loadPage(pageName.MyBottle);
    });

    $("#topbtn").click(function () {
        //顶部按钮事件

    });

    var init = function () {
        currentPage = pageName.Index;
        if (!checkUserValid()) {
            window.location.href = "/welcome/index";
        }

        getLocation();
        connectWebsocket();
        if (@ViewBag.sourceFlag!= -1) {
            loadPageByIndex(@ViewBag.sourceFlag);//防止跳到主页 死循环
        }

        //每20秒发一次心跳包确保websocket链接不断开
        setInterval(function () {
            send("心跳");
        }, 20000);

        //每分钟上报一次当前位置
        setInterval(function () {
            getLocation();
        }, 60000);

        //首次加载页面 判断是否有未读消息
        $.get(serviceurl + "/api/ChatRecord/HasUnreadMessage", { "userid": userid }, function (result) {
            if (result.ErrorCode == 0) {
                if (result.Result.length > 0) {
                    $(".redpoint").show();
                } else {
                    $(".redpoint").hide();
                }
            }
        });
    }

</script>