@{
    Layout = "~/Views/Shared/Layout_Front.cshtml";
    ViewBag.Title = "流浪瓶";
}
<style>
    .mainDiv {
        margin: 0;
        padding: 0;
        font-size: 20px;
        text-align: center;
    }

    .head {
        background-color: khaki;
        position: absolute;
        width: 100%;
        height: 5%;
    }

    #rootdiv {
        top: 5%;
        width: 100%;
        position: absolute;
        height: 85%;
        background-image: url(../../Content/img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .foot {
        width: 100%;
        height: 10%;
        position: absolute;
        background-color: khaki;
        bottom: 0;
    }

</style>

<div class="mainDiv">
    
    <div class="head">
        <span id="topbtn">流浪瓶V1.0</span>
    </div>
    <div id="rootdiv">
    </div>
    <div class="foot">
        <div class="row" style="padding-top:2%">
            <div class="col-xs-3">
                <a id="profilesetting">设置</a>
            </div>
            <div class="col-xs-3">
                <a id="throwbottle"> 扔瓶子</a>
            </div>
            <div class="col-xs-3">
                <a id="pickbottle"> 捡瓶子</a>
            </div>
            <div class="col-xs-3">
                <a id="mybottle"> 我的</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        init();
    });

    var loadPage = function (pageName, param) {
        var pagePath = pageName;
        if (param != undefined && param != "") {
            pagePath += param;
        }
        $("#rootdiv").load(pagePath);
    }

    var loadPageByIndex = function (pageIndex) {
        switch (pageIndex) {
            case 1:
                loadPage(pageName.ProfileSetting);
                break;
            case 2:
                loadPage(pageName.ThrowBottle);
                break;
            case 3:
                loadPage(pageName.PickBottle);
                break;
            case 4:
                loadPage(pageName.MyBottle);
                break;
            case 5:
                loadPage(pageName.BottleDetail);
                break;
            case 0:
            default:
                loadPage(pageName.Index);
                break;
        }
    }

    var getLocation = function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
        else {
            //x.innerHTML = "Geolocation is not supported by this browser.";
            //不支持定位
        }
    }

    var showPosition = function (position) {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;

        // 百度地图API功能
        var point = new BMap.Point(longitude, latitude);
        var geoc = new BMap.Geocoder();
        geoc.getLocation(point, function (rs) {
            debugger;
            var data = {};
            data.userid = userid;
            data.longitude = longitude;
            data.latitude = latitude;

            var addComp = rs.addressComponents;
            data.province = province = addComp.province;
            data.city = city = addComp.city;
            data.district = district = addComp.district;
            data.street = street = addComp.street;
            data.streetNumber = streetNumber = addComp.streetNumber;
            data.addressdetail = addressdetail = rs.business;

            $.post(serviceurl + "/api/position/add", data);
        });
    }

    $("#profilesetting").click(function () {
        loadPage(pageName.ProfileSetting);
    });

    $("#throwbottle").click(function () {
        loadPage(pageName.ThrowBottle);
    });

    $("#pickbottle").click(function () {
        loadPage(pageName.PickBottle);
    });

    $("#mybottle").click(function () {
        loadPage(pageName.MyBottle);
    });

    $("#topbtn").click(function () {
        //顶部按钮事件

    });

    var init = function () {
        getLocation();
        if (@ViewBag.sourceFlag!= -1) {
            loadPageByIndex(@ViewBag.sourceFlag);//防止跳到主页 死循环
        }
        if (!checkUserValid()) {
            window.location.href = "/welcome/index";
        }
    }

</script>