@{
    ViewBag.Title = "流浪瓶";
}
<br /><a href="/Home/Index">主页面</a><br />
还没有捡过瓶子哦，<a href="/Home/PickBottle">捡一个</a>试试？
<ol>
    <li><a href="/Home/BottleDetail"><span>i am a boy1,hello!</span><span>上海闵行</span>-<span>男</span> &nbsp;&nbsp; 未读</a></li>
    <li><a href="/Home/BottleDetail"><span>i am a boy2,hello!</span><span>上海长宁</span>-<span>男</span> &nbsp;&nbsp; 未读</a></li>
    <li><a href="/Home/BottleDetail"><span>i am a boy3,hello!</span><span>上海闵行</span>-<span>女</span> &nbsp;&nbsp; 已读</a></li>
    <li><a href="/Home/BottleDetail"><span>i am a boy4,hello!</span><span>上海普陀</span>-<span>男</span> &nbsp;&nbsp; 已读</a></li>
</ol>