@{
    ViewBag.Title = "流浪瓶";
}

<style>
    .bottleline {
        border-bottom: 1px solid #ccc;
        padding-top: 5px;
        margin-bottom: 5px;
    }
</style>
<p></p>
<div id="my_noBottle" style="display:none">暂时还没有瓶子哦，去<a id="pickBottle">捡一个</a>试试？</div>
<div id="my_bottleList" style="display:none;"></div>

<script type="text/javascript">

    $("#pickBottle").click(function () {
        loadPage(pageName.PickBottle);
    });

    var bindClick = function () {
        var longClick = 0;
        $(".openBottle").on({
            //长按事件先去掉，因为手机兼容性不好，会导致点击事件无法触发
            //touchstart: function (e) {
            //    event.preventDefault();
            //    longClick = 0;//设置初始为0
            //    self = this;
            //    timeOutEvent = setTimeout(function () {
            //        //此处为长按事件-----在此显示遮罩层及删除按钮
            //        longClick = 1;//假如长按，则设置为1
            //        if (confirm("确定要删除吗?")) {
            //            $.post(serviceurl + "/api/Bottle/DeleteBottle", { bottleid: self.dataset.bottleid }, function () {
            //                loadPage(pageName.MyBottle);
            //            });
            //        }
            //    }, 1000);
            //},
            //touchmove: function (e) {
            //    clearTimeout(timeOutEvent);
            //    timeOutEvent = 0;
            //    e.preventDefault();
            //},
            //touchend: function (e) {
            //    clearTimeout(timeOutEvent);
            //    if (timeOutEvent != 0 && longClick == 0) {//点击
            //        //此处为点击事件----在此处添加跳转详情页
            //        var param = "?bottleId=" + this.dataset.bottleid;
            //        loadPage(pageName.BottleDetail, param);
            //    }
            //    return false;
            //},
            click: function (e) {
                var param = "?bottleId=" + this.dataset.bottleid;
                loadPage(pageName.BottleDetail, param);
            }
        });

        $(".userimg").click(function () {
            var frienduserid = this.dataset.userid;
            if (frienduserid == undefined || frienduserid == userid) {
                loadPage(pageName.ProfileInfo);
            } else {
                loadPage(pageName.ProfileInfoView, "?userid=" + frienduserid);
            }
        });
    }

    var myBottleInit = function () {
        $("#my_bottleList").hide();
        $("#my_noBottle").hide();
        $.ajax({
            url: serviceurl + "/api/Bottle/QueryByUserId",
            type: "get",
            data: { userId: userid },
            success: function (result) {
                if (result.Result != undefined && result.Result.length > 0) {
                    var html = "";
                    var bottleData = result.Result;
                    $.each(bottleData, function (i, item) {
                        var areaName = (item.City == undefined ? "" : item.City) + (item.District == undefined ? "" : item.District)
                        if (areaName != undefined && areaName != "") {
                            areaName = "(" + areaName.replace(/省/g, "").replace(/市/g, "").replace(/区/g, "").replace(/县/g, "") + ")";
                        }
                        var genderUrl = item.BottleGender == 1 ? "/Content/img/male.png" : "/Content/img/female.png";
                        html += '<div ' + (item.ReadStatus == 1 ? "" : "class = 'mybottlediv'")+'>';
                        html += '<div style="height:50px;" >';
                        html += '<div style="float:left;"><img src=' + item.BottleHeaderUrl + ' class="userimg" data-userid="' + item.BottleUserID + '" ></div>';
                        html += '<div class="openBottle" data-bottleid="' + item.BottleID + '" ><span class="userInfo">' + (item.BottleUserName + areaName)+ '   <span> <img src=' + genderUrl+' style="width:15px;"></span>  </span><span class="textdesc" >' + item.BottleDesc + '</span></div>';
                        html += '<div class="detailright" ><span>' + item.UpdateTimeDesc + '</span></div>';
                        html += '</div>';
                        html += '<div class="bottleline"></div>';
                        html += '</div>';
                    });
                    $("#my_bottleList").empty();
                    $("#my_bottleList").append(html);
                    $("#my_bottleList").show();
                    bindClick();
                } else {
                    $("#my_noBottle").show();
                }
            },
            error: function (result) {
                $("#my_noBottle").show();
            }
        });
    }

    myBottleInit();

</script>