@{
    ViewBag.Title = "流浪瓶";
}

<style>
    .userimg {
        height: 50px;
        width: 50px;
    }

    .openBottle {
        float: left;
        padding-left: 5px;
        width: 70%;
        text-align: left;
    }

    .textdesc {
        padding-top: 15px;
        display: block;
        color: dimgray;
    }

    .detailright {
        float: right;
        padding-right: 5px;
        width: 15%;
        text-align: right;
    }

    .bottleline {
        border-bottom: 1px solid #ccc;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    .userInfo {
        font-weight: bolder;
        font-size: initial;
    }
</style>
<p></p>
<div id="noBottle" style="display:none">暂时还没有瓶子哦，去<a id="pickBottle">捡一个</a>试试？</div>
<div id="bottleList" style="display:none;font-size:13px"></div>

<script type="text/javascript">

    $("#pickBottle").click(function () {
        loadPage(pageName.PickBottle);
    });

    var bindClick = function () {
        var longClick = 0;
        $(".openBottle").on({
            touchstart: function (e) {
                event.preventDefault();
                longClick = 0;//设置初始为0
                self = this;
                timeOutEvent = setTimeout(function () {
                    //此处为长按事件-----在此显示遮罩层及删除按钮
                    longClick = 1;//假如长按，则设置为1
                    if (confirm("确定要删除吗?")) {
                        $.post(serviceurl + "/api/Bottle/DeleteBottle", { bottleid: self.dataset.bottleid }, function () {
                            loadPage(pageName.MyBottle);
                        });
                    }
                }, 1000);
            },
            touchmove: function (e) {
                clearTimeout(timeOutEvent);
                timeOutEvent = 0;
                e.preventDefault();
            },
            touchend: function (e) {
                clearTimeout(timeOutEvent);
                if (timeOutEvent != 0 && longClick == 0) {//点击
                    //此处为点击事件----在此处添加跳转详情页
                    var param = "?bottleId=" + this.dataset.bottleid;
                    loadPage(pageName.BottleDetail, param);
                }
                return false;
            }, click: function (e) {
                var param = "?bottleId=" + this.dataset.bottleid;
                loadPage(pageName.BottleDetail, param);
            }
        });
    }



    var myBottleInit = function () {
        $("#bottleList").hide();
        $("#noBottle").hide();
        $.ajax({
            url: serviceurl + "/api/Bottle/QueryByUserId",
            type: "get",
            data: { userId: userid },
            success: function (result) {
                if (result.Result != undefined && result.Result.length > 0) {
                    var html = "";
                    var bottleData = result.Result;
                    $.each(bottleData, function (i, item) {
                        var areaName = (item.City == undefined ? "" : item.City) + (item.District == undefined ? "" : item.District)
                        if (areaName != undefined && areaName != "") {
                            areaName = "(" + areaName.replace(/市/g, "").replace(/区/g, "").replace(/县/g, "") + ")";
                        }
                        var genderUrl = item.Gender == 1 ? "/Content/img/male.png" : "/Content/img/female.png";
                        html += '<div style="height: 50px;" class = "touchevent">';
                        html += '<div style="float: left;"><img src=' + item.HeaderImgUrl+' class="userimg"></div>';
                        html += '<div class="openBottle" data-bottleid="' + item.BottleID + '" ><span class="userInfo">' + item.ThrowUserName + areaName + '   <span> <img src=' + genderUrl+' style="width:15px;"></span>  </span><span class="textdesc" >' + item.BottleDesc + '</span></div>';
                        html += '<div class="detailright" ><span>' + item.UpdateTimeDesc + '</span></div>';
                        html += '</div>';
                        html += '<div class="bottleline"></div>';
                    });
                    $("#bottleList").append(html);
                    $("#bottleList").show();
                    bindClick();
                } else {
                    $("#noBottle").show();
                }
            },
            error: function (result) {
                $("#noBottle").show();
            }
        });
    }

    myBottleInit();

</script>