@{
    ViewBag.Title = "流浪瓶";
}

@*没捡到瓶子*@
<div id="pick_noBottle" class="fulldiv" style="display:none;"><img src="~/Content/img/emptybottle.jpg" class="fulldiv" id="emptyBottle"/></div>
@*捡到一个瓶子*@
<div id="pick_bottle" class="fulldiv" style="display:none"><img src="~/Content/img/findbottle.jpg" class="fulldiv" id="openBottle" data-bottleid=""/></div>
@*捡瓶子时的动画*@
<div id="pickbottlegif" class="fulldiv" style="display:none"><img src="~/Content/img/pickbottle.gif" class="fulldiv" /></div>

<script type="text/javascript">
    $("#emptyBottle").click(function () {
        $("#pick_noBottle").hide();
    });

    $("#openBottle").click(function () {
        var param = "?bottleId=" + this.dataset.bottleid;
        loadPage(pageName.BottleDetail, param);
    });

    $("#pick_bottle").hide();
    $("#pick_noBottle").hide();
    $("#pickbottlegif").show();
    $.ajax({
        url: serviceurl + "/api/Bottle/PickBottles",
        type: "get",
        data: { userId: userid },
        success: function (result) {
            setTimeout(function () {
                $("#pickbottlegif").hide();
                if (result.ErrorCode == 0 && result.Result != undefined) {
                    var bottleid = result.Result.ID;
                    var throwuserid = result.Result.ThrowUserID;

                    $("#openBottle")[0].dataset.bottleid = bottleid;
                    $("#pick_bottle").show();

                    var chatJson = {};
                    chatJson.BottleID = bottleid;
                    chatJson.ReceiveID = throwuserid;
                    chatJson.SenderID = userid;
                    chatJson.ClientMsg = "你的瓶子被我捡到啦，来聊聊吧！";
                    chatJson.ChatType = 0;

                    var content = JSON.stringify(chatJson);
                    send(content);

                } else {
                    $("#pick_noBottle").show();
                }
            }, 1000);
        },
        error: function (result) {
            $("#pickbottlegif").hide();
            $("#pick_noBottle").show();
        }
    });
</script>