@{
    ViewBag.Title = "流浪瓶";
}

<style>
    .userspan {
        margin-left: 70px;
        width: 65%;
    }
    .userinfodiv {
        margin-left: 140px;
        padding-top: 17px;
    }
    .form-control {
        background-color: initial;
    }
</style>
<p></p>
<div style="height:100%;overflow-y:auto;">
    <div class="form-group" style="height:150px;">
        <div style="float:left;">
            <img src="" id="userimg" style="width: 140px;height:140px;">
        </div>
        <div class="userinfodiv" style="padding-top:5px;">
            <label class="control-label col-lg-1 labelleft">昵称:</label>
            <span id="username" class="form-control userspan">wolfworker</span>
        </div>
        <div class="userinfodiv" >
            <label class="control-label col-lg-1 labelleft">手机:</label>
            <span id="phone" class="form-control userspan">15051432856</span>
        </div>
        <div class="userinfodiv" >
            <label class="control-label col-lg-1 labelleft">QQ:</label>
            <span id="qqnum" class="form-control userspan">1195747247</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-1 labelleft">邮箱</label>
        <span class="form-control profilevaluestyle bgnocolor" id="mail" />
    </div>
    <div class="form-group">
        <label class="control-label col-lg-1 labelleft">性别</label>
        <span class="form-control profilevaluestyle" id="gender" />
    </div>
    <div class="form-group">
        <label class="control-label col-lg-1 labelleft">生日</label>
        <span class="form-control profilevaluestyle" id="birthday" />
    </div>

    <div class="form-group">
        <label class="control-label col-lg-1 labelleft">个人说明</label>
        <textarea class="form-control" style="background-color: initial;" id="remark" rows="2" readonly="readonly"></textarea>
    </div>
</div>

<script type="text/javascript">

    $.ajax({
        url: serviceurl + "/api/User/QueryById",
        data: { id: @ViewBag.userid },
        async: false,
        success: function (result) {
            if (result != undefined && result.ErrorCode == 0 && result.Result != undefined) {
                var userinfo = result.Result;
                $("#userimg").attr("src", userinfo.HeaderImgUrl);
                $("#username")[0].textContent = userinfo.UserName;
                $("#phone")[0].textContent = userinfo.Phone;
                $("#qqnum")[0].textContent = userinfo.QQ;
                $("#mail")[0].textContent = userinfo.Mail;
                $("#birthday")[0].textContent = userinfo.Birthday.substring(0, 10);
                $("#remark")[0].textContent = userinfo.Remark;
                $("#gender")[0].textContent = userinfo.Gender == 1 ? "男" : "女";

            }
        }, error: function (result) {

        }
    });

    
</script>