@{
    ViewBag.Title = "流浪瓶";
}
<br />
<form class="form-horizontal">
    <div class="container">
        <div class="row" style="text-align:center">
            <h3>维护个人信息</h3>
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-1">昵称</label>&nbsp;
            <input class="form-control " style="display:inline; width: 50%;" type="text">
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-1">手机</label>&nbsp;
            <input class="form-control" style="display:inline;width: 50%;" name="name" id="name" type="text">
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-1">QQ </label>&nbsp;&nbsp;&nbsp;
            <input class="form-control" style="display:inline;width: 50%;" name="name" id="name" type="text">
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-1">邮箱</label>&nbsp;
            <input class="form-control" style="display:inline;width: 50%;" name="name" id="name" type="text">
        </div>

        <div class="row form-group">
            <label class="control-label col-lg-1">性别</label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary unactive active" style="width:98px">
                    <input type="radio" class="gender" value="1"> 男
                </label>
                <label class="btn btn-danger unactive" style="width:98px">
                    <input type="radio" class="gender" value="2"> 女
                </label>
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-1">生日</label>
            &nbsp;
            <div id="startdiv" class="input-group date form_date col-md-3" data-date-format="yyyy-mm-dd">
                <input input="start" class="form-control" size="16" type="text" placeholder="请选择生日" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                @*<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>*@
            </div>

        </div>
        <div class="row form-group">
            <label class="control-label col-lg-1">个人说明</label>
            <div class="col-lg-5 col-md-6">
                <textarea class="form-control" rows="2"></textarea>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
   $('.form_date').datetimepicker({
       language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,   //今日日期按钮
		autoclose: 1,   //自动关闭
		todayHighlight: 1,   //高亮今日日期
		startView: 2,       //从日期视图开始
		minView: 2,
		forceParse: 0
    });
</script>