@{
    ViewBag.Title = "流浪瓶";
}


<style>
    .userspan {
        margin-left: 75px;
        width: 60%;
    }

    .userinfodiv {
        margin-left: 130px;
        padding-top: 17px;
    }

</style>

<p></p>

<div style="height:100%;overflow-y:auto;">
    <div class="form-group" style="height:140px;">
        <div style="float:left;">
            <img src="" id="userimg" style="width:130px;height:130px;">
            <input type="file" id="headerImg" accept="image/*"  onchange="uploadfile()" style="display:none" />
        </div>
        <div class="userinfodiv" style="padding-top:5px;">
            <label class="control-label col-lg-1 labelleft">昵称:</label>
            <input class="form-control userspan" id="username" type="text" placeholder="请输入昵称">
        </div>
        <div class="userinfodiv">
            <label class="control-label col-lg-1 labelleft">手机:</label>
            <input class="form-control userspan" id="phone" type="text" placeholder="请输入手机">
        </div>
        <div class="userinfodiv">
            <label class="control-label col-lg-1 labelleft">QQ:</label>
            <input class="form-control userspan" id="qqnum" type="text" placeholder="请输入QQ">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-1 labelleft">邮箱</label>
        <input class="form-control profilevaluestyle" id="mail" type="text" placeholder="请输入邮箱">
    </div>
    <div class="form-group">
        <label class="control-label col-lg-1 labelleft">性别</label>
        <div class="btn-group" data-toggle="buttons" style="margin-left:20%;display:table;">
            <label class="btn btn-primary unactive" style="width:98px">
                <input type="radio" class="gender" value="1"> 男
            </label>
            <label class="btn btn-danger unactive" style="width:98px">
                <input type="radio" class="gender" value="2"> 女
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-1 labelleft">生日</label>
        <div class="input-group date form_date col-md-3 profilevaluestyle" data-date-format="yyyy-mm-dd">
            <input input="start" id="birthday" class="form-control" size="16" type="text" placeholder="请选择生日" value="">
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            <textarea class="form-control" id="remark" rows="2" placeholder="请输入个人说明"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-5">
            <input type="button" class="btn btn-primary btn-block" id="btnupdateprofile" value="更新个人信息">
        </div>
    </div>
</div>

<script type="text/javascript">

      $.ajax({
        url: serviceurl + "/api/User/QueryById",
        data: { id: userid },
        async: false,
        success: function (result) {
            if (result != undefined && result.ErrorCode == 0 && result.Result != undefined) {
                var userinfo = result.Result;
                $("#userimg").attr("src", userinfo.HeaderImgUrl);
                $("#username").val(userinfo.UserName);
                $("#phone").val(userinfo.Phone);
                $("#qqnum").val(userinfo.QQ);
                $("#mail").val(userinfo.Mail);
                if (userinfo.Birthday != undefined && userinfo.Birthday != "") {
                    $("#birthday").val(userinfo.Birthday.substring(0, 10));
                }
                $("#remark").val(userinfo.Remark);
                $(".gender").each(function () {
                    if (this.value == userinfo.Gender) {
                        $(this.parentNode).addClass("active focus");
                        return;
                    }
                });

            }
        }, error: function (result) {

        }
    });
    
    var updateUser = function (userData) {
        $.ajax({
            url: serviceurl + "/api/user/update",
            type: "post",
            data: userData,
            success: function (result) {
                if (result != undefined && result.ErrorCode == 0) {
                    userinfo = result.Result;
                    showDialog("更新成功了哦！");
                    $("#rootdiv").empty();
                } else {
                    showDialog(result.ErrorMsg);
                }
            },
            error: function (result) {
                showDialog("更新失败！")
            }
        });
    };

    var uploadfile = function () {
        var file = $("#headerImg")[0].files[0]; // js 获取文件对象
        var reader = new FileReader();
        if (file) {
            //将文件以Data URL形式读入页面
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = function (f) {
                $('#userimg').attr("src", this.result);
            };
        }
    }

    $("#userimg").click(function () {
        $("#headerImg").click();
    });

    $("#btnupdateprofile").click(function () {
        var userData = {};
        userData.id = userid;
        userData.username = $("#username").val();
        userData.phone = $("#phone").val();
        userData.qq = $("#qqnum").val();
        userData.mail = $("#mail").val();
        //userData.gender = $(".gender").val();
        $(".gender").each(function () {
            if (this.checked) {
                userData.gender = this.value;
                return;
            }
        });
        userData.birthday = $("#birthday").val();
        userData.remark = $("#remark").val();
        var file = $("#headerImg")[0].files[0]; // js 获取文件对象
        var reader = new FileReader();
        if (file) {
            //将文件以Data URL形式读入页面
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = function (f) {
                userData.FileBase64 = this.result;
                updateUser(userData);
            };
        } else {
            updateUser(userData);
        }
    });

    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,   //今日日期按钮
        autoclose: 1,   //自动关闭
        todayHighlight: 1,   //高亮今日日期
        startView: 2,       //从日期视图开始
        minView: 2,
        forceParse: 0
    });

</script>