@{
    ViewBag.Title = "流浪瓶";
}

<div class="sendtextdiv">
    <p></p>
    <textarea id="bottleText" class="sendtextarea" placeholder="请写下你的内容，扔出去！"></textarea>
</div>
<p></p>
<input type="button" class="btn btn-primary btn-lg btn-block" id="btnThrow" value="扔出去" />
@*捡瓶子时的动画*@
<div id="throwbottlegif" class="fulldiv" style="display:none"><img src="~/Content/img/throwbottle.gif" class="fulldiv" /></div>
<p></p><br />
<script>
    $("#btnThrow").click(function () {
        var bottleDesc = $("#bottleText").val();
        if (bottleDesc == undefined || bottleDesc == "") {
            showDialog("瓶子里是空的哦！");
            return;
        }
        $("#throwbottlegif").show();
        $(".sendtextdiv").hide();
        $("#btnThrow").hide();

        var bottleData = {};
        bottleData.ThrowUserID = userid;
        bottleData.BottleDesc = bottleDesc;
        bottleData.Longitude = longitude;
        bottleData.Latitude = latitude;

        bottleData.province = province;
        bottleData.city = city;
        bottleData.district = district;
        bottleData.street = street;
        bottleData.streetNumber = streetNumber;
        bottleData.addressdetail = addressdetail;

        $.ajax({
            url: serviceurl + "/api/bottle/ThrowBottle",
            type: "post",
            data: bottleData,
            success: function (result) {
                setTimeout(function () {
                    $("#throwbottlegif").hide();
                    $(".sendtextdiv").show();
                    $("#btnThrow").show();
                    if (result != undefined && result.ErrorCode == 0) {
                        $("#bottleText").val('');
                        showDialog("瓶子已经漂出去啦！");
                    } else {
                        showDialog(result.ErrorMsg);
                    }
                }, 1000);
            },
            error: function (result) {
                $("#throwbottlegif").hide();
                $(".sendtextdiv").show();
                $("#btnThrow").show();
                showDialog("系统异常！");
            }
        });
    });
</script>`