@{
    ViewBag.Title = "流浪瓶";
}
<style>
    .sendtextdiv {
        height: 80%;
    }

    .sendtextarea {
        width: 100%;
        height: 100%
    }

</style>
    <div class="sendtextdiv">
        <p></p>
        <textarea id="bottleText" class="sendtextarea" placeholder="请写下你的内容，扔出去！"></textarea>
    </div>
    <p></p>
    <input type="button" class="btn btn-primary btn-lg btn-block" id="btnThrow" value="扔出去" />

<script>
    $("#btnThrow").click(function () {
        var bottleDesc = $("#bottleText").val();
        if (bottleDesc == undefined || bottleDesc == "") {
            alert("瓶子里是空的哦！");
            return;
        }

        var bottleData = {};
        bottleData.ThrowUserID = userid;
        bottleData.BottleDesc = bottleDesc;
        bottleData.Longitude = longitude;
        bottleData.Latitude = latitude;

        bottleData.province = province;
        bottleData.city = city;
        bottleData.district = district;
        bottleData.street = street;
        bottleData.streetNumber = streetNumber;
        bottleData.addressdetail = addressdetail;

        $.ajax({
            url: serviceurl + "/api/bottle/ThrowBottle",
            type: "post",
            data: bottleData,
            success: function (result) {
                if (result != undefined && result.ErrorCode == 0) {
                    $("#bottleText").val('');
                    alert("瓶子已经漂出去啦");
                } else {
                    alert(result.ErrorMsg)
                }
            },
            error: function (result) {
                alert("系统异常！")
            }
        });
    });
</script>