<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>流浪瓶-ChatBottle</title>
    <link href="~/Content/component/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/component/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/component/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/component/datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/component/datepicker/bootstrap-datetimepicker.zh-CN.js"></script>

</head>
<body>
    <style>
        .unactive {
            opacity: 0.6
        }
        .active {
            opacity: 1 !important
        }
    </style>

    @RenderBody()

    @*服务地址*@
    <script>
        //var serviceurl = "http://www.buyshoes.club:9001/";
        var serviceurl = "http://192.168.8.109:9001/";
        //var serviceurl = "http://10.1.8.4:9014/";
        var id = 0;

        var latitude = "";
        var longitude = "";
        var pageName = {
            ProfileSetting: "/Home/ProfileSetting",
            ThrowBottle: "/Home/ThrowBottle",
            PickBottle: "/Home/PickBottle",
            MyBottle: "/Home/MyBottle",
            Index: "",
        };
    </script>
</body>
</html>