@{
    ViewBag.Title = "流浪瓶";
}

<style>
    /*web background*/
    .container {
        display: table;
        height: 100%;
    }

    .row {
        display: table-cell;
        vertical-align: middle;
    }
    /* centered columns styles */
    .row-centered {
        text-align: center;
    }

    .col-centered {
        display: inline-block;
        float: none;
        text-align: left;
        margin-right: -4px;
    }

    .unactive {
        opacity:0.7
    }

    .active {
        opacity: 1 !important
    }
</style>



<div class="container">
    <div class="row row-centered">
        <div class="col-md-6 col-centered">
            <h2 class="row-centered">欢迎</h2>
                <div class="input-group input-group-md">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true" style="width: 17px;"></i></span>
                    <input type="text" class="form-control"  id="username" name="username" placeholder="请输入昵称" />
                </div>
                <p></p>
                <div class="input-group input-group-md">
                    <span class="input-group-addon">
                        <img src="/Content/img/gender.png" style="width: 17px;">
                    </span>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary unactive active" style="width:98px">
                            <input type="radio" class="gender" value="1"> 男
                        </label>
                        
                        <label class="btn btn-danger unactive" style="width:98px">
                            <input type="radio" class="gender" value="2"> 女
                        </label>
                    </div>	
                </div>
                <br />
                <button type="button" class="btn btn-success btn-block" id="btnSubmit">开始</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#btnSubmit").click(function () {
            var gender = $(".gender").val();
            var username = $("#username").val();
            if (username == undefined || username == "") {
                alert("昵称不可为空！");
                return;
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:9001/api/user/register",
                //contentType: "application/json", //如果提交的是json数据类型，则必须有此参数,表示提交的数据类型 
                dataType: "json", //表示返回值类型，不必须   
                //contentType: 'application/json; charset=utf-8',
                //contentType: "application/x-www-form-urlencoded",
                data: { UserName: username, Gender: gender },
                success: function (result) {
                    //在原来的页面跳转到下载word模板的页面
                    debugger;
                    if (result.ErrorCode == 0) {
                        window.location.href = "/home/index";
                    } else {
                        alert("系统异常，请重试！");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("失败！error");
                }
            });
        });
    });
</script>